/* 
 * vim: noexpandtab
 */
img.ui-combobox-arrow {
	position: relative;
	vertical-align: text-bottom;
	top: 4px; /* it controls the vertical alignment of the combo-right-button */
}

* html img.ui-combobox-arrow {
	top: -3px;
}

.ui-combobox-list {
	border: 1px solid black;
}

.ui-combobox-list, .ui-combobox-item {
	/* display: block; */
	font-family: sans-serif;
	font-size: 95%;
	background-color: white;
}

.ui-combobox-list .selected {
	background-color: #eeeeff;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	font-weight: bold;
}
